@import url("https://use.typekit.net/xib8whr.css");

 @import url("https://use.typekit.net/xib8whr.css");

:root {
  --primaryfont : "itc-avant-garde-gothic-pro", sans-serif;
  --secondaryfont : "museo-slab", serif;
 
 
  --color1 : #116D6E;
  --color2 : #321E1E;
  --color3 : #4E3636;
  --color4 : #CD1818;
}


body {
    font-family: var(--primaryfont);
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    font: var (--primaryfont);
    font-size: 3em;
    background-color: #321E1E;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
 font: var (--primaryfont);
    font-size: .69em;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background-color: white;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}