@import url("https://use.typekit.net/xib8whr.css");

 @import url("https://use.typekit.net/xib8whr.css");

:root {
  --primaryfont : "itc-avant-garde-gothic-pro", sans-serif;
  --secondaryfont : "museo-slab", serif;
 
 
  --color1 : #116D6E;
  --color2 : #321E1E;
  --color3 : rgba(83, 83, 83, 0.8);
  --color4 : #CD1818;
}


body {    
    font-family: var(--primaryfont);
    margin: 0;
    padding: 0;
    background-image: url('backround.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: var(--color2); /
}
header {

    font-size: 3em;
    font-optical-sizing: auto;
    background-color: rgba(83, 83, 83, 0.8);
    color: var(--color1);

    padding: 2rem 0;
    text-align:center;
    
}
.container {
    display: flex;
    justify-content: right; 
    align-items: center; 
}

.profile-image {
    padding-left: flex;
    width: 50%;
    max-width: 300px;
    height: auto;
}

nav ul {

    font-size: .69em;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background-color: var(--color1);
    border: 1px solid #ffffff;
}

#portfolio {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid #ddd;}

#lightgallery {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
}

#lightgallery a {
    display: block;
    width: calc(33% - 10px);
    margin-bottom: 10px;
}

#lightgallery img {
    width: 100%;
    height: auto;
    display: block;
}

#contact {

padding-bottom: 75px;

}

.contact-links {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem; 
    display: inline-block;
    align-items: center;
}

.contact-link img{
    margin-right: 10px;
    font-size: 1.5rem; 
}

.contact-link:hover {

    color: #007bff;
}

.miguelpicture {

float: left;
margin-right: 1em;
max-width: 150px;

}
/* figure out clearfix */
.clearfix::after {

content: "";
display: table;
clear: both;

}

div a img{ 
    width:2em;
    vertical-align: middle;
    margin-right: .5em;
}

footer {
   
    text-align: center;
    padding: 1rem 0;
    background-color: var(--color3);
    color: white;
    position: fixed;
    width: 100%;

    bottom: 0;
}